# Dependencies
node_modules/

# Build outputs
/dist/
/.vite/
.vite-inspect/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
!.env.example

# Editor/OS
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/*
!.vscode/extensions.json

# Misc
coverage/
*.local

# Capacitor/Android/iOS build artifacts
/android/
/ios/
